
p {
    font-family: $fontStack;
    font-size: $normalTextSize;
    color: $primaryColor;
    margin: 0;
}

.titleText {
    font-family: $fontStack;
    font-size: $normalTextSize;
    line-height: $normalLineHeight;
    font-weight: $heavyFontWeight;
    color: $primaryColor;
    margin: 0;
}

.normalText {
    font-family: $fontStack;
    font-size: $normalTextSize;
    line-height: $normalLineHeight;
    font-weight: $normalFontWeight;
    color: $primaryColor;
    margin: 0;
    opacity: .8;
}

.lightText {
    font-family: $fontStack;
    font-size: $normalTextSize;
    line-height: $normalLineHeight;
    color: $primaryColor;
    margin: 0;
    opacity: .33;
}

a {
    text-decoration: underline;
}

a:hover {
    background: $primaryColorLighter;
}

.filterText {
    font-weight: $boldFontWeight;
    cursor: pointer;
    transition: 0.2s all;
}

.filterNormal {
    transition: 0.2s all;
    text-decoration: none;
}

.filterNormal:hover {
    //opacity: 0.54;
    background: $primaryColorLighter;
}

.filterSelected {
    //text-decoration: underline;
    transition: 0.2s all;
    background: $primaryColorLighter;
}

.filterSelected:hover {
    //opacity: 0.54;
    background: $primaryColorLight;
}

